*{
    width:100%;
    font-size:12pt;
    font-family:sans-serif;
    background:white;
    color:black;
    text-align:left;
    margin:0px;
    padding:0px;
    display:block;
    top:0%;
    height:auto;
    opacity:1;
    border:none;
    text-shadow:none;
    font-weight:normal;
}
script{
    display: none !important;
}
h1, h2, summary, p, li{
        
    flex:1;
background-color:silver;
opacity:0.9;
padding:1%;
min-width:250px;
border:5px none white;
border-radius:25px;
margin: 15%;
border-radius: 0%;
}
aside, img {
    display:none;
}
nav ul li {
    border:none;
    margin:0px;
    text-decoration:underline;
    text-decoration:none;
}
header{
    box-shadow:none;
}
summary{
    margin-top:10px;
    color:black;
    font-size:12pt;
    text-shadow:none;
}
a:link, a:visited, a:hover,a:active{
    color:black;
    text-shadow:none;
    display:inline;
    text-decoration:underline;
}
p{
    margin-top:10px;
}

h1,h2,h3{
    margin-top:10px;
}
details {
    margin-top:10px;
    page-break-inside:avoid;
}

* {
    box-sizing:border-box;
}
body{
    background-color:black;
    font:12pt Verdana, Arila, Georgia, sans-serif;
    display:inline-flex;
	overflow:auto;
    background-size:250px 230px;	
    }
    main{
        width:70%;
        border:groove whitesmoke 30px;
    }
    header{
        width:98%;
        background-color:black;
        padding:1%;
        margin-top:0%;
    }
    footer{
        width:98%;
        background-color:black;
        text-align:center;
        padding:1%;
        font-size:.75em;
    }
    article{
        width:98%;
        background-color:black;
        padding:1%;
    }
    aside{
        width:30%;
        float:right;
        overflow:auto;
        border:inset 10px whitesmoke;
        padding:10px;
        background-color:black;
        font-size:12pt;
    }
    h1{
        color: black;
        text-shadow: 2px 2px 2px whitesmoke;
        font-family: sans-serif;
        font-size: 3em;
        text-align: center;
    }
    h2{
        color: black;
        text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
        font-family: sans-serif;
        border-bottom: 15px white;
        letter-spacing: 8px;
    }
    summary{
        font-family: sans-serif;
        font-size: 1.25em;
        font-style: italic;
        color: black;
    }
    details {
        color:black;
    }
    ol,ul,dl{
        line-height: 25pt;
    }
nav {
    margin-top:12px;
    margin-right:18px;
    text-decoration:none;
}
nav a {
    text-decoration:none;
}
nav ul{
    list-style-type:none;
    margin:12px 0px 0px 0px;
    padding:0px;
    text-decoration:none;
    }
nav ul li{
    border-bottom:2px solid black;
    text-decoration:none;
    }
nav ul li a:link, nav ul li a:visited {
    font-weight:bold;
    display:block;
    padding:3px 0px 3px 3px;
    background-color:black;
    color:white;
    text-decoration:none;
    }
nav ul li a:hover, nav ul li a:active{
    font-weight:bold;
    display:block;
    padding:3px 0px 3px 3px;
    background-color:white;
    color:black;
    text-decoration:none;
    }
    nav ul ul{
        margin:0px;
        text-indent:20px;
        text-decoration:none;
    }
    
    nav ul ul li a:link, nav ul ul li a:visited {
        font-size:10pt;
        font-weight:bold;
        display:block;
        padding:3px 0px 3px 3px;
        background-color:black;
        color:white;
        text-decoration:none;
    }
    nav ul ul li a:hover, nav ul ul li a:active{
        font-size:10pt;
        font-weight:bold;
        display:block;
        padding:3px 0px 3px 3px;
        background-color:white;
        color:black;
        text-decoration:none;
    }

section{
    height:400px;
}
section a:link {
    text-decoration:none;
    font-weight:bold;
    color:black;
    }
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
   
    
